# A script to calculate partial correlation coefficients from bootstrap parameters using the pingouin module.

Needs to be run in python 3.7 for Pingouin compatibility

In [1]:
import numpy as np
import pandas as pd
import pingouin as pg
import os

path = os.getcwd()

proj_name = "cANK"#'T4V_NRC_2mi'

bs_params_df = pd.read_csv(os.path.join(path, f'{proj_name}_bootstrap_params.csv'), index_col='Bootstrap Iter')
del bs_params_df['redchi**2'], bs_params_df['bestchi**2']

bs_params_partial_corr_df = bs_params_df.pcorr() # Gives matrix of partial correlations, where all other variables are factored out
bs_params_partial_corr_df.to_csv(os.path.join(path, f"{proj_name}_bootstrap_partial_corr.csv"))

/home/xtremejake/anaconda3/envs/ising_py3/lib/python3.8/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.3.4, the latest is 0.3.5.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
bs_params_partial_corr_df

              dGN       dGR       dGC   dGinter        mi
dGN      1.000000 -0.700119 -0.422334 -0.775285  0.747260
dGR     -0.700119  1.000000 -0.673719 -0.985720  0.987399
dGC     -0.422334 -0.673719  1.000000 -0.733868  0.654433
dGinter -0.775285 -0.985720 -0.733868  1.000000  0.988600
mi       0.747260  0.987399  0.654433  0.988600  1.000000

In [3]:
bs_params_df.columns

Index(['dGN', 'dGR', 'dGC', 'dGinter', 'mi'], dtype='object')

In [4]:
pg.partial_corr(data=bs_params_df, x='dGN', y='mi', covar=['dGC', 'dGinter', 'dGR'])

,n,r,CI95%,r2,adj_r2,p-val,BF10,power
pearson,1000,0.74726,"[0.72, 0.77]",0.558398,0.557512,2.507119e-179,2.362e+175,1.0

In [5]:
bs_params_df

                     dGN       dGR       dGC    dGinter        mi
Bootstrap Iter
1               5.478201  4.594815  7.066911 -11.616789 -0.772278
2               5.450467  4.565097  7.050363 -11.595969 -0.774878
3               5.484211  4.586912  7.066469 -11.637420 -0.776644
4               5.453275  4.562615  7.030624 -11.602757 -0.777668
5               5.521109  4.619406  7.104094 -11.700088 -0.779114
...                  ...       ...       ...        ...       ...
996             5.375525  4.544580  6.989811 -11.517902 -0.769431
997             5.533396  4.615733  7.117106 -11.739099 -0.785690
998             5.459227  4.546955  7.007697 -11.569152 -0.774426
999             5.295451  4.391067  6.851741 -11.302738 -0.764384
1000            5.419576  4.566993  7.008261 -11.560011 -0.770705

[1000 rows x 5 columns]